<!-- header-logged-in.mustache -->
<div class="navbar">
  <a href="/"> <img src="assets/home.png"/> Home</a>
  <a href="info"> <img src="assets/info.png"/>  Information </a>
  <a href="Login"> <img src="assets/login.png"/>  Login</a>
</div>



