
<div class="navbar">
  <a href="home"> <img src="assets/home.png"/>Home</a>

  <a href="fitness"> <img src="assets/gym.png"/>Fitness </a>
  <a href="lifestyle"> <img src="assets/heart.png"/>Lifestyle </a>
  <a href="nutrition"> <img src="assets/apple.png"/>Nutrition </a>

  <a href="information"> <img src="assets/info.png"/>Information </a>
  <a href="logout"> <img src="assets/logout.png"/>Logout</a>
</div>