<!DOCTYPE html>
<html>

<head>

{{#loggedIn}}
    {{>verifiedHeader}}
{{/loggedIn}}

{{^loggedIn}}
    {{>header}}
{{/loggedIn}}
  
   <link rel="stylesheet" href="myCSS.css">
</head>

<body>

<br>

   <div class="container_text">
      <div class="row">
       <div class="col"> 
         <h1 class="font_title"> Welcome To HealthMate, {{title}} </h1>
         <h2 style="font_family_aspirations"><em>Supporting Your Journey to a Healthier, Happier you.</em></h2>
       </div>
      </div>
   </div>


    <div class="container_text">
      <div class="row">
        <div class="col">Nutrition plays a crucial role in our physical health and well-being. Good nutrition involves eating a variety of foods that provide us with the necessary macronutrients (carbohydrates, proteins, and fats) and micronutrients (vitamins and minerals) that our bodies need to function properly. Consuming a balanced and healthy diet helps to maintain a healthy weight, reduce the risk of chronic diseases such as heart disease, diabetes, and cancer, and promote overall well-being. <br><br>
          Physical fitness is also essential for our overall health and well-being. Regular exercise helps to improve our cardiovascular health, build muscle and bone strength, and reduce the risk of chronic diseases such as obesity, heart disease, and diabetes. Exercise also promotes mental well-being by reducing stress, anxiety, and depression, and improving our mood. <br><br>
          A healthy lifestyle encompasses many other factors beyond just nutrition and exercise. Getting enough sleep is essential for our physical and mental health, as it allows our bodies to rest and repair. Managing stress through activities like mindfulness, meditation, or yoga can also have a positive impact on our overall well-being. Avoiding harmful substances like tobacco and excessive alcohol can help reduce the risk of developing chronic diseases and promote overall health. Finally, maintaining positive relationships with friends and family can have a positive impact on our mental and emotional health. <br><br>
          In summary, taking care of our nutrition, fitness, and overall lifestyle habits is crucial for achieving optimal health and well-being. By prioritizing these aspects of our health, we can reduce the risk of chronic diseases, improve our mental and emotional well-being, and lead a happier and healthier life.
        </div>
      </div>
    </div>
    
   <div class="container_text">
      <div class="row">
       <div class="col"> 
         <h2 style="font_family_aspirations"> Sign Up Now & Improve Your Life Now </h2>
       </div>
      </div>
   </div>  
</body>

</html> 