<html>
<head>
    {{>header}}

    <link rel="stylesheet" href="myCSS.css">

</head>
<body >
    <div id="formContent" class="form_content">
        <!-- Login Form -->

        <h2 class="font_title">Register Now!</h2> 
        <p> {{warning}} </p>
        <p> {{alert}} </p>

        <form method="POST" action="/register">
            <div>
                <label for="firstname" class="font_family">
                    Firstname
                </label>
                <div>
                    <input type="text" class="input_style_two"  id="firstname" name="firstname" placeholder="firstname">
                </div>
            </div>
            <div>
                <label for="surname" class="font_family">
                    Surname
                </label>
                <div>
                    <input type="text" class="input_style_two"  id="surname" name="surname" placeholder="surname">
                </div>
            </div>
            <div>
                <label for="username" class="font_family">
                    User Name
                </label>
                <div>
                    <input type="text" class="input_style_two"  id="username" name="username" placeholder="username">
                </div>
            </div>
            <div>
                <label for="password" class="font_family">
                    Password
                </label>
                <div>
                    <input type="password" class="input_style_two" id="password" name="password" placeholder="password">
                </div>
            </div>
            <br>
            <input type="submit" class="input_button_three" value="Sign In">
        </form>
    </div>
</body>